.container {
  position: relative;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
}

.contentImage {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity linear 250ms;
}

.contentImage img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.active {
  opacity: 1;
}

.leftArrow,
.rightArrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

.leftArrow {
  left: 24px;
}

.rightArrow {
  right: 24px;
}

.leftArrow img,
.rightArrow img {
  height: 80px;
}

.pagination {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .container {
    height: 255px;
  }

  .leftArrow img,
  .rightArrow img {
    height: 24px;
  }
}
