.article {
  max-width: 1023px;
  display: flex;
  flex-direction: column;
  padding: 30px 0 201px 0;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .article {
    width: 335px;
    padding: 19px 0 168px 0;
  }
}
