/* .home {
  max-width: 1240px;
  margin: auto;
  align-items: center;
  padding: 40px 20px;
} */

.cards {
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: space-between;
    padding: 50px;
    border-radius: 25px;
    background: var(--colorGreyLight);
}
