.home {
  margin-top: 63px;
}

.cards {
  margin-block: 43px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: space-between;
  padding: 50px;
  border-radius: 25px;
  background: var(--colorGreyLight);
}

@media screen and (max-width: 768px) {

  .home {
    margin-top: 22px;
  }
  .cards {
    margin-block: 20px;
    grid-template-columns: 1fr;
    gap: 22px;
    background: none;
    padding: 0;
  }

}
