.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  background-color: var(--colorRed);
  cursor: pointer;
  overflow: hidden;
}

.card::after {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 1) 150%
  );
}

.card h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #ffffff;
  z-index: 1;
  margin: 20px;
}

.card img {
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card {
    height: 255px;
  }
}
