.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.host {
  font-size: 18px;
  line-height: 26px;
  max-width: min-content;
  text-align: right;
  font-weight: 500;
}

.photo {
  max-width: 64px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 768px) {
  .host {
    font-size: 12px;
    line-height: normal;
  }
  
  .photo {
    max-width: 32px;
  }


}
