.header {
  max-width: 1280px;
  height: 68px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.header > a {
  height: 100%;
}

.header img {
  padding-right: 20px;
  height: 100%;
}

.nav {
  display: flex;
  gap: 57px;
}

.nav a {
  transition: transform 100ms linear;
}

.nav a:hover {
  transform: scale(1.1);
}

.linkActive {
  border-bottom: 1px solid var(--colorRed);
  font-size: 24px;
}

.link {
  border: none;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .header {
    height: 47px;
    padding: 0 20px;
    margin-top: 20px;
  }

  .header img {
    height: 47px;
  }

  .nav {
    gap: 10px;
  }

  .linkActive {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
  }
}
