.footer {
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: var(--colorDark);
}

.footer img {
  width: 122px;
  color: var(--colorLight);
}

.footer p {
  color: var(--colorLight);
  margin: 30px;
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    gap: 30px;
  }

  .footer p {
    font-size: 12px;
    margin: 0;
  }
}
