.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.collapse {
  position: relative;
  display: flex;
  width: 100%;
  height: 47px;
  justify-content: space-between;
  align-items: center;
  background: var(--colorRed);
  border-radius: 5px;
  padding: 0 20px;
}

.collapse h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.chevronDown {
  position: relative;
  top: 3px;
}

.p {
  background: var(--colorGreyLight);
  border-radius: 5px;
  padding-top: 36px;
  padding-bottom: 19px;
  padding-right: 18px;
  padding-left: 18px;
  margin-top: -9px;
  flex-grow: 1;
  z-index: -1;
  animation: slide 300ms ease-out;
  /* animation: opacity 300ms linear; */
  transform-origin: top;
  overflow: hidden;
}

@keyframes slide {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .collapse {
    height: 30px;
  }

  .collapse h2 {
    font-size: 13px;
  }

  .chevronUp {
    position: relative;
    top: -2.5px;
  }
  .p,
  .p > p {
    font-size: 12px;
  }
}
