@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body,
html {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--colorRed);
}

:root {
  --colorRed: #ff6060;
  --colorGreyLight: #f6f6f6;
  --colorGreyDark: #e3e3e3;
  --colorDark: #000000;
  --colorLight: #ffffff;
}

a {
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: auto;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.main-container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
  flex: 1;
}
