.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 160px 0;
}

.article h1 {
  font-size: 288px;
}

.article p {
  font-size: 36px;
  padding-bottom: 182px;
  text-align: center;
}

.link {
  font-size: 18px;
  border-bottom: 1px solid var(--colorRed);
  transition: transform 200ms linear;
}

.link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .article h1 {
    font-size: 184px;
  }

  .article p {
    font-size: 24px;
  }

  .link {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .article h1 {
    font-size: 96px;
  }

  .article p {
    font-size: 18px;
  }

  .link {
    font-size: 14px;
  }
}
